
<% include ../partials/header %>

<a href="/noticias/create">Criar Noticia</a>
<div class="container">
    <% if(noticias.length > 0) { %>
        <% for(var i = 0; i < noticias.length; i++) {%>
            <div class="row">
                <div class="col-md-12">
                    <div class="noticia_wrapper">
                        <a href="/noticias/show/<%= noticias[i]._id %>" class="noticia_titulo"><%=noticias[i].titulo%></a>
                        <span class="noticia_data"><%=noticias[i].resumo%></span>
                        <span class="noticia_autor"><%=noticias[i].autor%></span>
                        <br />
                        <p class="noticia_resumo">
                            <%=noticias[i].noticia%>
                        </p>
                        <a href="/noticias/editar/<%= noticias[i]._id %>" class="noticia_titulo">Editar</a>
                        <a href="/noticias/delete/<%= noticias[i]._id %>" class="noticia_titulo">Excluir</a>
                    </div>
                </div>
            </div>
        <% } %>
    <% } %>
</div>

<% include ../partials/footer %>
